target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbproject/load${HEXPREFIX}load.properties
/nbproject/genfiles.properties
/nbproject/xml-resources/
/nbproject/build-impl.xml

### Visual Studio Code ###
.vscode/

### Operating System ###
.DS_Store
Thumbs.db

### Frontend ###
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

### Environment & Secrets ###
.env
*.log
